a { color:#252525; }
a:hover { color:#ff8383; }
button, button:focus, button:active, .button {
  background-color:#252525;
  color:#ffffff;
  border-color:#ffffff;
}
button:hover, .button:hover {
  background-color:#ff8383;
  color:#ffffff;
  border-color:#ffffff;
}
.btn {
  background-color:#252525 !important;
  color:#ffffff !important;
  border-color:#ffffff !important;
}
.btn:hover {
  background-color:#ff8383 !important;
  color:#ffffff !important;
  border-color:#ffffff !important;
}
.action.primary {
  background-color:#252525;
  color:#ffffff;
  border-color:#ffffff;
}
.action.primary:hover {
  background-color:#ff8383;
  color:#ffffff;
  border-color:#ffffff;
}
.product-sale-label {
  background-color:#ff8383;
  color:#ffffff;
}
.page-wrapper .minicart-wrapper .action.showcart .counter.qty .counter-number, .header-wishlist span.counter-number, .header-compare span.counter-number, .minicart-wrapper span.counter-number {
  color:#ffffff;
  background-color:#ff8383;
}
.price-box .price { color:#f9bf3b; }
.rating-summary .rating-result > span:before, .review-control-vote label:before { color:#f9bf3b; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color:#252525; }
.page-header {
  opacity:1;
  color:#252525;
  background-color:#ffffff;
}
.zoo-menu-label { color:#252525; }
.page-header.container { background-color:#ffffff; }
.page-header a { color:#252525; }
.page-header a:hover { color:#ff8383; }
.page-header .panel.wrapper {
  background-color:#000000;
  color:#ffffff;
}
.page-header .panel.wrapper .topbar-container {
  background-color:rgba(0,0,0,0);
  line-height:36px;
}
.page-header .panel.wrapper a { color:#ffffff; }
.page-header .panel.wrapper a:hover { color:#ff8383; }
.page-header .header-content {
  background-color:#ffffff;
  padding-top:50px;
  padding-bottom:50px;
  line-height:36px;
}
.page-header .header-content.container { background-color:#ffffff; }
@media only screen and (max-width: 767px) {
  .page-header .header-content {
    background-color:#ffffff;
    padding-top:50px;
    padding-bottom:50px;
  }
  .page-header .header-content.container { background-color:#ffffff; }
}
.top-menu { color:#252525; }
.clever-menu a { color:#252525; }
.clever-menu ul.clever-mega-menu > li.level-top > a, .clever-horizontal-menu .clever-mega-menu li.level0 > a.menu-link {
  font-size:13px;
  text-transform:uppercase;
}
.clever-menu ul.clever-mega-menu > li.level-top > a:hover, .clever-horizontal-menu .clever-mega-menu li.level0 > a.menu-link:hover { color:#ff8383; }
.page-wrapper .nav-sections { background-color:#ffffff; }
#zoo-sticky-header { background:#ffffff; }
.is-sticky #zoo-sticky-header { background:#ffffff; }
#zoo-sticky-header .zoo-header-user a { color:#252525; }
@media (min-width: 768px) {
  .clever-menu ul.clever-mega-menu > li.level-top > a, .clever-horizontal-menu .clever-mega-menu li.level0 > a.menu-link { color:#252525; }
}
.product-item-actions .actions-primary button.action.primary, .product-items .product-item-info .price-box .special-price .price, .products-grid.grid .product-item-info a.product-item-link:hover, #checkout .authentication-wrapper > button span, .cart-empty a, .page-wrapper .minicart-wrapper .action.showcart .counter.qty:hover, .modes .modes-mode.active:before, .zoo-breadcrumbs .items .item a:hover, .filter.block .filter-content .item.checkbox-filter span.check.checked, .products-list.list .product-item .category-price-list .zoo-quickview:hover, .products-list.list .product-item .category-price-list .zoo-wishlist-list:hover, .products-list.list .product-item .category-price-list .zoo-compare-list:hover, .clever-horizontal-menu .clever-mega-menu li a:hover, .nav-sections .header.links a:hover, .clever-horizontal-menu .clever-mega-menu-item:hover > .dropdown-toggle, .block-dashboard-orders .block-content a, .block-dashboard-info .block-content a, .block-dashboard-addresses .block-content a, .orders-history a, .owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-next:hover, .login-container .forgot-pass, #zoo-login-form .forgot-pass, .password.forget .forgot-pass, .form-create-account .forgot-pass { color:#ff8383; }
.home07-block-help-shopping, .minicart-wrapper .actions #top-cart-btn-checkout, .main-slide-07 .zoo-caption-slide .btn-groups .button.btn-2 { background-color:#ff8383; }
.pages .items .item.current a.page, .pages .items .item:hover a.page, .pages .items .item.current strong.page, .pages .items .item:hover strong.page, .pages .items .item.current .action, .pages .items .item:hover .action, .zoo-navigation-vertical .block-title, .loading-bar { background:#ff8383; }
.owl-carousel .owl-dots .owl-dot.active, .newsletters-style-2 .clever-icon-mail-1:before, .ui-slider-range, .ui-widget.ui-widget-content.ui-slider-horizontal .ui-slider-handle:hover, #nprogress .bar, body .fancybox-close:hover { background:#ff8383; }
.checkbox-filter .checkbox-material .check.checked, .ui-widget.ui-widget-content.ui-slider-horizontal .ui-slider-handle { border-color:#ff8383; }
.checkout-cart-index .zoo-main-content-area .cart-container .cart-discount .actions-toolbar .action.primary:hover, #checkout .checkout-payment-method .opc-payment-additional.discount-code .payment-option-content .form-discount .payment-option-inner+.actions-toolbar button:hover {
  border-color:#ff8383 !important;
  background-color:#ff8383 !important;
}
.page-wrapper .page-header .my-wishlist:hover * { color:#ff8383 !important; }
.page-wrapper .search-mini-block .block-search .form.minisearch .control .search-dropdown .search-select i, .catalog-product-view .product-social-links .action:hover, .catalog-product-view .product-addto-links .action:hover, .nav-title-cart .box-price .price { color:#ff8383; }
.nav-open .page-wrapper .nav-sections { background-color:#ffffff; }
body { background-color:#ffffff; }
.container {
  padding-left:15px;
  padding-right:15px;
}
.cms-index-index #zoo-main-content { background-color:#ffffff; }
.page-footer {
  color:#959595;
  background-color:#f8f8f8;
}
.page-footer a { color:#252525; }
.page-footer a:hover { color:#ff8383; }
.page-wrapper .copyright {
  background-color:#ebebeb;
  color:#636363;
}
.product-view-bg:before {
  background:#f4f4f4;
  border-top:1px solid #f4f4f4;
}
.minicart-wrapper .actions #top-cart-btn-checkout { border-color:#ff8383; }
