
#zoo_newsletter{
  .zoo-popup-newsletter-top{
    text-align: center;
    padding: 90px 40px 80px;
    background: #26231f;
    h2{
      font-size: 38px;
      color: #fff;
      font-weight: 300;
      line-height: 1.3;
    }
  }
  .zoo-popup-newsletter-inner {
    top: 0;
    .abs-transform(initial);
    h2 {
      color: #3f3a35;
      font-weight: 300;
    }
    h4{
      font-size: 16px;
      font-weight: 300;
      strong{
        font-weight: 500;
      }
    }
    input[name=email] {
      background: #ffffff;
      height: 50px;
      border: 1px solid #bcbbb9;
      margin-top: 40px;
      margin-bottom: 5px;
      font-weight: 300;
      font-size: 12px;
      max-width: 510px;
    }
    button {
      background: #ffffff;
      border: 2px solid #26231f;
      color: #26231f;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      &:hover{
        background: #26231f;
        color: #ffffff;
      }
    }
  }
}
.zoo-newsletter-popup .modal-inner-wrap{
  .modal-header .action-close{
    background: #26231f;
    height: 45px;
    width: 45px;
    &:before {
      font-size: 14px;
      color: #fff;
      line-height: 45px;
    }
    &:hover{
      background: #ffffff;
      &:before {
        color: #26231f;
      }
    }
  }
  .modal-content{
    padding-top: 45px;
  }
}
.zoo-title-style-flower {
  .zoo-main-heading {
    .zoo-heading-wrapper-title {
      text-align: center;
      h3 {
        font-size: 30px;
        position: relative;
        margin-bottom: 20px;
        display: inline-block;
        font-family: @font-family-name__secondary;
        font-weight: 300;
        text-transform: uppercase;
        &:after {
          content: '';
          background: transparent url("../images/icons/feuilles.svg") no-repeat center center;
          background-size: contain;
          width: 18px;
          height: 18px;
          margin-left: 4px;
          display: inline-block;
        }
      }
    }
  }
}

.page-header .topbar-container {
  label{
    font-size: 14px;
    margin: 0;
    font-weight: normal;
  }
}
.cms-index-index #zoo-sticky-header, #zoo-sticky-header {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.clever-horizontal-menu ul.clever-mega-menu li.level0>a.menu-link {
  position: relative;
  font-weight: 400;
  padding-top: 0;
  line-height: 50px;
  padding-bottom: 0;
}
.menu-right{
  .clever-menu ul.clever-mega-menu > li.level-top > a, .clever-horizontal-menu .clever-mega-menu li.level0 > a.menu-link {
    font-size: 16px;
    text-transform: none;
    color: #a3a3a3;
    padding-right: 0;
    margin-right: 0;
    margin-left: 25px;
  }
}
.zoo-slideshow-text-content .zoo-button-slide a {
  border: 2px solid #26231f;
  &:hover{
    border-color: #ffffff;
  }
}
@media(min-width:992px){
  .page-header .header-content{
    align-items:center
  }
  .block-search .form.minisearch{
    border:0
  }
  .block-search .block-content .field.search{
    border:1px solid #ebebeb;
    border-right:0
  }
}


.page-wrapper {
  .minicart-wrapper {
    .action.showcart {
      .counter.qty {
        &:before {
          content: '\c072';
        }
      }
    }
  }
  .block-search {
    .action.search {
      margin: 0 !important;
      border-radius: 0;
      background-color: #ff8383;
      right: -45px;
      height: 40px;
      &:before {
        color: #ffffff;
      }
    }
  }
}
.zoo-notification-text {
  font-size: 14px;
  background-color: #26231f;
  color: #ffffff;
}
.notification-dismiss{
  color: #ffffff;
}
.service-static {
  .zoo-bar-content {
    margin: 0;
    span {
      display: inline-block;
      vertical-align: middle;
    }
    small {
      font-size: 10px;
      display: block;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 60px;
      height: 60px;
      vertical-align: middle;
    }
  }
  .zoo-bar-content.icon-truck {
    &:before {
      background: transparent url("../images/icons/livraison.png") no-repeat center center;
      background-size: contain;
    }
  }
  .zoo-bar-content.icon-france {
    &:before {
      background: transparent url("../images/icons/france.png") no-repeat center center;
      background-size: contain;
    }
  }
  .zoo-bar-content.icon-stars {
    &:before {
      background: transparent url("../images/icons/note.png") no-repeat center center;
      background-size: contain;
    }
  }
  .zoo-bar-content.icon-qualite {
    &:before {
      background: transparent url("../images/icons/garantie.png") no-repeat center center;
      background-size: contain;
    }
  }
}


.newsletters{
  background:url('../images/newsletter-bg.jpg') no-repeat center center;
  background-size:cover;
  padding: 75px 0;
  h2{
    font-size: 45px;
    color: #08575d;
  }
  h4{
    font-size: 22px;
    color: #08575d;
  }
  button {
    margin-left: 0;
  }
}
.page-wrapper {
  .page-footer {
    border-top: none;
    .customer-service {
      border: 2px solid #000;
      padding-right: 25px;
      padding-left: 25px;
      h3{
        font-weight: 700;
        letter-spacing: -0.5px;
      }
      .contact-ways {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        .ico-mail {
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            background: transparent url("../images/icons/mail.svg") no-repeat center center;
            background-size: 30px;
          }
        }
        .ico-telephone {
          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            margin-right: 5px;
            background: transparent url("../images/icons/telephone.svg") no-repeat center center;
            background-size: 30px;
            margin-top: 5px;
          }
          span {
            float: right;
            line-height: 20px;
          }
        }
      }
    }
    a.ico-facebook{
      display:inline-block;
      width:46px;
      height:46px;
      border:2px solid #000;
      background:transparent url("../images/icons/facebook.svg") no-repeat center center;
      background-size:20px
    }
  }
}



.zoo-footer-bottom-content {
  padding-top: 0;
  margin-bottom: 30px;
  p {
    line-height: 20px;
  }
  h4.zoo-widget-title-sm {
    font-weight: 700;
  }
}
.page-wrapper {
  .copyright {
    padding: 0;
    border-top: 0;
    .copyright-text {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 12px;
        li {
          display: inline-block;
          padding-right: 20px;
          margin: 0;
          &:last-of-type {
            padding-right: 0;
          }
        }
      }
    }
  }
}
.blog-widget-recent{
  .post-item{
    margin-bottom: 30px;
    &.post-item-1{
      .post-categories a{
        color: #ff8080;
      }
    }
    &.post-item-2{
      .post-categories a{
        color: #f7a153;
      }
    }
    &.post-item-3{
      .post-categories a{
        color: #29a048;
      }
    }
    &.post-item-4{
      .post-categories a{
        color: #2b4ec2;
      }
    }
  }
  .post-header {
    padding: 10px;
  }
  .post-categories{
    font-weight: 300;
  }
  .post-title {
    font-weight: 500;
    margin: 3px 0;
  }
  a.post-read-more {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #a2a2a2;
  }
}
.zoo-banner-image {
  position: relative;
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  .banner-content {
    color: #fff;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    left: 50%;
    .abs-transform(~'translate(-50%, -50%)');
    h3{
      font-size: 40px;
      font-weight: 300;
      font-family: @font-family__third;
      text-transform: uppercase;
      letter-spacing: 1px;
      strong{
        font-weight: 600;
      }
    } 
  }
  &.bottom-center{
    .banner-content {
      .abs-transform(~'translate(-50%, 20%)');
    }
  }
  &.bottom-right{
    .banner-content {
      .abs-transform(~'translate(-30%, 20%)');
    }
  }
}

.button-link {
  clear: both;
  padding-top: 35px;
  a{
    font-family: @font-family__fourth;
    padding: 13px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 500;
    border: 2px solid;
    .abs-style(  @btn-primary__color, @btn-primary__border-color, @btn-primary__background-color);
    &:hover {
      .abs-style( @btn-primary__hover-color, @btn-primary__hover-border-color, @btn-primary__hover-background-color);
    }
  }
}

.product-items .product-item-info .price-box .price{
  font-size:24px;
  font-weight:600
}
.product-items .product-item-info .price-box .old-price .price{
  font-weight:300;
  font-size:20px;
  color:#26231f
}
.product-items .product-item-info .product-item-details{
  text-align:center
}
.product-items .product-item-info .product-item-details .product-item-description{
  margin:5px 0;
  font-weight:300
}
.product-items .product-item-info .product-item-details .actions-primary button.action.tocart:before{
  content:'';
  display:none
}
.product-items .product-item-info .product-item-details .product-item-name{
  font-size:18px
}
.product-items .product-item-info .product-item-details .product-item-name.addtolinks_position_below{
  padding-right:0
}
.product-items .product-item-info .zoo-product-image .view-product-overlay{
  display:none;
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
  font-weight:300;
  text-transform:uppercase
}
.product-items .product-item-info .zoo-product-image .view-product-overlay>a{
  font-weight:600
}
.product-items .product-item-info .zoo-product-image .view-product-overlay>a:hover{
  color:#26231f
}
.product-items .product-reviews-summary .reviews-actions{
  display:table-cell
}
.product-items .product-reviews-summary .reviews-actions a.view{
  color:#26231f;
  font-weight:300;
  margin-left:12px;
  line-height:21px;
  vertical-align:middle
}
.product-items .product-reviews-summary .reviews-actions a.view:before{
  content:'';
  display:none
}
.product-items .product-item .tocart{
  font-size:14px;
  line-height:28px;
  text-transform:uppercase;
  margin-top:15px
}
.products-grid.grid .product-item-info .product-item-description,.widget-product-grid .product-item-info .product-item-description,.products-grid.grid .product-item-info .category-price-list,.widget-product-grid .product-item-info .category-price-list{
  display:inline-block
}
.product-badge-label,.product-new-label,.product-sale-label{
  z-index:3;
  position:absolute;
  top:0;
  left:0;
  padding:0 10px;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  border:2px solid #ff8383;
  font-size:12px;
  line-height:16px;
  text-transform:uppercase;
  font-weight:600;
  text-align:center;
  color:#ff8383;
  background:#fff;
  min-width:94px
}
.product-new-label{
  color:#2ecc71;
  border-color:#2ecc71
}
.product-sale-label{
  color:#fff;
  background:#ff8383
}
.product-badge-label+.product-new-label,.product-badge-label+.product-sale-label{
  top:20px
}
@media(min-width:768px){
  .zoo-wishlist,.zoo-compare{
    top:15px;
    right:15px;
    font-size:24px;
    line-height:24px;
    background-color:transparent;
    border-radius:0;
    display:inline-block;
    -moz-transition:right 0s;
    -webkit-transition:right 0s;
    -o-transition:right 0s;
    transition:right 0s;
    -moz-backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
  }
  .zoo-wishlist:hover,.zoo-compare:hover{
    background-color:transparent
  }
  .zoo-wishlist:hover a:hover,.zoo-compare:hover a:hover{
    color:#26231f
  }
  .zoo-wishlist a,.zoo-compare a{
    margin-top:0;
    color:#26231f
  }
  .product-items .product-item-actions{
    text-align:center
  }
  .product-items .product-item-actions .actions-primary{
    padding-right:0
  }
  .product-items .product-item-info .product-item-details .product-item-name.addtolinks_position_below{
    padding-right:0
  }
  .product-items .product-item-info .zoo-product-image{
    background-color:#eef9ff
  }
  .product-items .product-item-info .zoo-product-image:hover .view-product-overlay{
    display:block
  }
  .product-items .product-item-info .zoo-product-image:hover img{
    opacity:.5
  }
}
.catalog-category-view .page-title-wrapper,.zoo-product-collection01 .page-title-wrapper,.clevershopby-index-index .page-title-wrapper{
  display:block
}
.catalog-category-view .page-title-wrapper h1,.zoo-product-collection01 .page-title-wrapper h1,.clevershopby-index-index .page-title-wrapper h1{
  font-size:28px;
  margin-top:0;
  margin-bottom:10px;
  font-weight:600
}
.category-view .category-description{
  position:relative;
  z-index:1;
  top:0;
  left:0;
  -webkit-transform:initial;
  -moz-transform:initial;
  -ms-transform:initial;
  -o-transform:initial;
  transform:initial;
  font-weight:300
}
.category-view .category-description strong{
  font-weight:500
}
.blog-widget-recent .post-ftimg-hld>a{
  display:block;
  background-size:cover;
  background-position:center center;
  height:160px
}
.blog-widget-recent .post-text{
  padding:10px
}
.blog-widget-recent .post-text .post-title{
  padding-bottom:8px;
  font-weight:500
}
.blog-widget-recent .post-text .post-content{
  font-weight:300
}
.blog-widget-recent .post-text .post-footer a{
  color:#9d9d9d;
  text-decoration:underline;
  font-size:10px;
  font-weight:300
}



@media(min-width:992px){
  .page-wrapper .zoo-footer-bottom-content{
    .eq-first{
      max-width: 370px;
    }
    .customer-social{
      padding-left: 60px;
    }
  }
  .newsletter-cs .content {
    max-width: 570px;
  }
  .zoo-slideshow-text-content {
    h1 {
      font-size: 80px;
    }
    h2{
      font-size: 28px;
      letter-spacing: 2px;
      font-weight: 400;
    }
  }
}